# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# AWS credentials
.aws/

# IDE stuff
.idea/

# Docker files
**/docker-compose.override.yml
